name: Test

on:
  push:
    branches:
      - master
  pull_request:
    branches:
      - master

env:
  NODE_VERSION: 22
  BARE_VERSION: 1.26

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Setup Node ${{ env.NODE_VERSION }}
        uses: actions/setup-node@v4
        with:
          node-version: ${{ env.NODE_VERSION }}
      - name: Setup Bare ${{ env.BARE_VERSION }}
        run: npm i -g bare@${{ env.BARE_VERSION }}
      - name: Install dependencies
        run: npm install
      - name: Build
        run: npm run build
      - name: Test in Node
        run: npm run test:node
      - name: Test in Bare
        run: npm run test:bare
      
      
